
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-image: url(../images/slider.jpg);
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */





/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}
.feature-thumb {
  border: 1px solid #f0f0f0;
  padding: 5em 3em;
}
.feature-thumb span {
  background: #3f51b5;
  border-radius: 50px;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 5px;
}
.feature-thumb h3 {
  margin: 10px 0;
}
p{text-align: left;
margin:0px 0px 10px;}



.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  background-color: #336d88;
  text-align: center;

}
.tst-rating {
  margin-bottom: 15px;
  color: #cf7500;
}

.reviws{color:#fff;
text-align: center;}
.sections-title{text-align: center;
margin: 0;}
small {
  display: block;}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;

}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 2rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */
#cta{background-image: url(../images/dream.jpg);}

/*contact*/
#contact {
  background: #3f51b5;

}

#contact h2 {
  color: #ffffff;
}

#contact .section-title {
  padding-bottom: 20px;
}

#contact h2 > small,
#contact p,
#contact a {
  color: #f9f9f9;
}

#contact-form {
  padding: 1em 0;
}

#contact-form .col-md-12,
#contact-form .col-md-4 {
  padding-left: 0;
}

#contact-form .form-control {
  border: 0;
  border-radius: 5px;
  box-shadow: none;
  margin: 10px 0;
}

#contact-form input {
  height: 50px;
}

#contact-form input[type='submit'] {
  border-radius: 50px;
  border: 1px solid transparent;
}

#contact-form input[type='submit']:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}



/* Footer Section */
footer {
  background: #252020;
  padding: 120px 0;
}

footer .section-title {
  padding-bottom: 10px;
}

footer h2 {
  font-size: 20px;
}

footer a,
footer p {
  color: #909090;
}

footer strong {
  color: #d9d9d9;
}

footer address p {
  margin-bottom: 0;
}

footer .social-icon {
  margin-top: 25px;
}

.footer-info {
  margin-right: 2em;
}

.footer-info h2 {
  color: #ffffff;
  padding: 0;
}

.footer_menu h2 {
  margin-top: 2em;
}

.footer_menu ul {
  margin: 0;
  padding: 0;
}

.footer_menu li {
  display: inline-block;
  list-style: none;
  margin: 5px 10px 5px 0;
}

.newsletter-form .form-control {
  background: transparent;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid #303030;
  height: 50px;
  margin: 5px 0;
}

.newsletter-form input[type="submit"] {
  background: transparent;
  border: 1px solid #f9f9f9;
  border-radius: 50px;
  color: #ffffff;
  display: block;
  margin-top: 20px;
  outline: none;
  width: 50%;
}

.newsletter-form input[type="submit"]:hover {
  background: #29ca8e;
  border-color: transparent;
}

.newsletter-form .form-group span {
  color: #909090;
  display: block;
  font-size: 12px;
  margin-top: 20px;
}

.contact-info{text-align: center;}




@media (max-width: 1028px) {

  #title {
    text-align: center;
  }
